<div class="mat-app-background fullHeightDiv">
  <block-ui>
    <mat-sidenav-container class="fullHeightDiv">
      <mat-sidenav #sidenav mode="over">
        <div class="toolbar">
          <mat-toolbar *ngIf="!isUserLoggedIn()" color="accent">
            <div class="toolBarBrand">
              <span class="d-none d-md-inline toolBarBrand">
                <div class="navbar-brand" style="display: inline-flex">
                  <img class="navbar-brand-image" src="../assets/wind.png" />
                </div>
              </span>
            </div>
          </mat-toolbar>
        </div>
        <div *ngIf="isUserLoggedIn()" class="profileData">
          <div>
            <mat-accordion>
              <mat-expansion-panel #userPanel class="usernamePanel">
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    <div>
                      <div class="userImageContainer">
                        <img class="userImage" [src]="getCurrentUserImage()">
                      </div>
                      <div>{{getCurrentUserName()}}</div>
                    </div>
                  </mat-panel-title>
                </mat-expansion-panel-header>
                <mat-nav-list class="matexpansionpanelbody">
                  <a mat-list-item (click)="userPanel.close();sidenav.close()" routerLink="/profile">Profile</a>
                  <a mat-list-item (click)="userPanel.close();sidenav.close();logout()">Logout</a>
                </mat-nav-list>
              </mat-expansion-panel>
            </mat-accordion>
          </div>
        </div>
        <mat-nav-list>
          <a mat-list-item (click)="sidenav.close()" routerLink="/home">Home</a>
          <a mat-list-item (click)="sidenav.close()" routerLink="/users">Users</a>
          <a mat-list-item (click)="sidenav.close()" routerLink="/mypolls">My Polls</a>
          <a mat-list-item *ngIf="isUserLoggedIn()" (click)="sidenav.close()" routerLink="/polls/create">Create Poll</a>
          <mat-divider></mat-divider>
          <a mat-list-item (click)="viewTheme();sidenav.close()">Themes</a>
          <mat-divider *ngIf="!isUserLoggedIn()" ></mat-divider>
          <a mat-list-item *ngIf="!isUserLoggedIn()" (click)="sidenav.close()" routerLink="/login">Login</a>
        </mat-nav-list>
      </mat-sidenav>

      <mat-toolbar color="primary">
        <button mat-icon-button class="d-md-none sideBarToggler" (click)="sidenav.open()">
          <mat-icon>menu</mat-icon>
        </button>

        <span class="d-none d-md-inline toolBarBrand">
          <button mat-button class="nav-button" [routerLinkActive]="['active']" routerLink="#">
            <div class="navbar-brand" style="display: inline-flex">
              <img class="navbar-brand-image" src="../assets/wind.png" />
            </div>
            <span>Your Poll</span>
          </button>
        </span>

        <span class="d-none d-md-inline toolbarMenus">
          <button mat-button class="nav-button" [routerLinkActive]="['active']" routerLink="/home">Home</button>
        </span>

        <span *ngIf="isUserLoggedIn()" class="d-none d-md-inline toolbarMenus">
          <button mat-button class="nav-button" [routerLinkActive]="['active']" routerLink="/mypolls">My Polls</button>
        </span>

        <span *ngIf="isUserLoggedIn()" class="d-none d-md-inline toolbarMenus">
          <button mat-button class="nav-button" [routerLinkActive]="['active']" routerLink="/polls/create">Create Poll</button>
        </span>

        <span class="fillRemainingSpace"></span>

        <span class="d-none d-md-inline toolbarMenus">
          <button mat-button [matMenuTriggerFor]="toolbarUserMenu">
            <div style="display: inline-block" height="20px">
              <img style="height: 48px; display: inline-block; margin-top: 10px" [src]="getCurrentUserImage()">
            </div>
            <span *ngIf="isUserLoggedIn()"> {{getCurrentUserName()}} ! </span>
            <span *ngIf="!isUserLoggedIn()"> Guest </span>
            <mat-icon>keyboard_arrow_down</mat-icon>
          </button>

          <mat-menu #toolbarUserMenu="matMenu">
            <span *ngIf="isUserLoggedIn()" class="d-none d-md-inline">
              <button mat-menu-item class="nav-button" [routerLinkActive]="['active']" routerLink="/profile">Profile</button>
            </span>

            <span class="d-none d-md-inline">
              <button mat-menu-item class="nav-button" (click)="viewTheme();sidenav.close()">Themes</button>
            </span>

            <span *ngIf="!isUserLoggedIn()" class="d-none d-md-inline">
              <button mat-menu-item class="nav-button" [routerLinkActive]="['active']" routerLink="/login">Login</button>
            </span>

            <span *ngIf="isUserLoggedIn()" class="d-none d-md-inline">
              <button mat-menu-item class="nav-button" (click)="logout();sidenav.close()" routerLink="/login">Logout</button>
            </span>

            

          </mat-menu>

        </span>

      </mat-toolbar>

      <div class="content container" [@routerTransition]="o.isActivated && o.activatedRoute.routeConfig.path">
        <router-outlet #o="outlet"></router-outlet>
      </div>
    </mat-sidenav-container>
  </block-ui>
</div>